---
import * as interfaces from '../../lib/interfaces.ts'
import { snakeToKebab } from '../../lib/style-helpers.ts'
import { buildHeadingId } from '../../lib/blog-helpers.ts'
import RichText from './RichText.astro'
import NotionBlocks from '../NotionBlocks.astro'

export interface Props {
  block: interfaces.Block
  headings: interfaces.Block[]
}

const { block, headings } = Astro.props

const id = buildHeadingId(block.Heading2)
---

{
  block.Heading2.IsToggleable ? (
    // <details class={`toggle ${snakeToKebab(block.Heading2.Color)}`} open>
    // トグル削除
    // <details class={`toggle`} open>
    //   <summary>
    //     <a href={`#${id}`} id={id}>
    //       <h5>
    //         {block.Heading2.RichTexts.map((richText: interfaces.RichText) => (
    //           <RichText richText={richText} />
    //         ))}
    //       </h5>
    //     </a>
    //   </summary>
    //   <div>
    //     {block.Heading2.Children && (
    //       <NotionBlocks blocks={block.Heading2.Children} headings={headings} />
    //     )}
    //   </div>
    // </details>
    <a href={`#${id}`} id={id}>
      <h5>
        {block.Heading2.RichTexts.map((richText: interfaces.RichText) => (
          <RichText richText={richText} />
        ))}
      </h5>
    </a>
    <div>
      {block.Heading2.Children && (
        <NotionBlocks blocks={block.Heading2.Children} headings={headings} />
      )}
    </div>
  ) : (
    <a href={`#${id}`} id={id}>
      <h5>
        {block.Heading2.RichTexts.map((richText: interfaces.RichText) => (
          <RichText richText={richText} />
        ))}
      </h5>
    </a>
  )
}

<style>
  h5 {
    /* margin: 1em 0 0.3em; */
    /* マージン調整 */
    margin: 3em 0 1em;
    color: var(--fg);
    font-size: 1.5rem;

    /* 見出しデザイン */
    padding: 10px 0 10px 16px;
    border-left: 4px solid var(--accents-add-1);
  }
  @media (max-width: 640px) {
    h5 {
      font-size: 1.2rem;
    }
  }

  .toggle {
    margin: 1.6rem 0 0;
  }
  @media (max-width: 640px) {
    .toggle {
      margin: 1.2rem 0 0;
    }
  }

  .toggle > summary {
    cursor: pointer;
  }

  .toggle > summary > a {
    display: inline;
  }

  .toggle > summary > a > h5 {
    display: inline;
    /* マージンを効かせるため変更 */
    display: inline-block;
  }

  .toggle > div {
    margin-left: 1em;
  }
</style>