---
/**
 * 投稿のリンク（カード型）
 */
import { Post } from '../lib/interfaces.ts'
import { getPostLink } from '../lib/blog-helpers.ts'
import NoContents from './NoContents.astro'
// 投稿カード
import PostCard from '../components/PostCard.astro'
import styles from '../styles/blog.module.css'

export interface Props {
  heading: string
  posts: Post[]
  columnCount: number // カラム数（5列以上を指定すると、子要素の数によっては最終行の余白が不自然になることがある）
}

const { heading, posts, columnCount = 2 } = Astro.props
---

{
  posts.length === 0 ? null : ( // <NoContents contents={posts} /> // 処理が空になるのでnullを返す（上記コメントを残しておきたい）
    <div class="blog-posts-link">
      <h2>{heading}</h2>
      <div class="card-wrapper" style={`--column-count: ${columnCount}`}>
        {posts.map((post: Post) => (
          <PostCard post={post} fontXL={false} />
        ))}
      </div>
    </div>
  )
}

<style>
  .blog-posts-link {
  }
  .blog-posts-link h2 {
    /* margin: 0;
    padding-left: 0.4rem;
    color: #777;
    font-size: 0.95rem; */
    margin: 0;
    padding-left: 0.4rem;
    color: #777;
    font-size: 1.5rem;
    font-weight: 700;
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    text-align: center;
  }
  .blog-posts-link h2::before {
    border-bottom: 1px solid #e5e5e5;
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  .blog-posts-link h2::after{
    border-bottom: 1px solid #a3c68c;
    content: "";
    position: absolute;
    bottom: 0;
    left: 25%;
    width: 50%;
  }
  .blog-posts-link ul {
    list-style-type: none;
    padding: 0;
    margin-top: 0.4rem;
    margin-block-end: 1rem;
  }
  .blog-posts-link ul li {
  }
  .blog-posts-link ul li a {
    display: block;
    border-radius: var(--radius);
    padding: 0.4rem 0.4rem;
    line-height: 1.2rem;
    color: inherit;
    font-size: 0.95rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .blog-posts-link ul li a:hover {
    background-color: #ddd;
  }
  .blog-posts-link ul li a span,
  .blog-posts-link ul li a img {
    display: inline-block;
    margin-right: 0.2rem;
  }
  .blog-posts-link ul li a img {
    width: 1.25rem;
    height: 1.25rem;
    vertical-align: sub;
  }

  .card-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: var(--gap);
  }
  /* 最後の行を左寄せにするための対策 */
  .card-wrapper::before {
    display: block;
    content: '';
    order: 1;
    width: calc(
      (100% / var(--column-count)) -
        (var(--gap) * (var(--column-count) - 1) / var(--column-count))
    );
  }
  .card-wrapper::after {
    display: block;
    content: '';
    width: calc(
      (100% / var(--column-count)) -
        (var(--gap) * (var(--column-count) - 1) / var(--column-count))
    );
  }
  .card-wrapper > :global(.card) {
    /* columnCountの数に合わせて動的に幅を決める */
    width: calc(
      (100% / var(--column-count)) -
        (var(--gap) * (var(--column-count) - 1) / var(--column-count))
    );
  }
</style>
