---
import { Post } from '../lib/interfaces.ts'
import { getPostLink } from '../lib/blog-helpers.ts'

export interface Props {
  post: Post
  enableLink: boolean
  fontXL: boolean
}

const { post, enableLink = true, fontXL = false } = Astro.props

let title = post.Title
const fontXLClass = fontXL ? 'font-xl' : ''
---

<h2 class=`post-title ${fontXLClass}`>
  {
    enableLink ? (
      <a href={getPostLink(post.Slug)}>
        {post.Icon && post.Icon.Type === 'emoji' ? (
          <>
            <span>{post.Icon.Emoji}</span>
            {title}
          </>
        ) : post.Icon && post.Icon.Type === 'external' ? (
          <>
            <img src={post.Icon.Url} alt="Post title icon" />
            {title}
          </>
        ) : (
          title
        )}
      </a>
    ) : (
      <>
        {post.Icon && post.Icon.Type === 'emoji' ? (
          <>
            <span>{post.Icon.Emoji}</span>
            {title}
          </>
        ) : post.Icon && post.Icon.Type === 'external' ? (
          <>
            <img src={post.Icon.Url} alt="Post title icon" />
            {title}
          </>
        ) : (
          title
        )}
      </>
    )
  }
</h2>

<style>
  .post-title.font-xl {
    font-size: 2rem;
    font-weight: 700;
  }
  .post-title {
    margin: 0;
    padding: 0.2rem 0;
    color: var(--fg);
    font-size: 1rem;
  }
  .post-title a {
    font-size: 1rem;
    font-weight: normal;
    line-height: 1;
    color: inherit;
  }
  .post-title.font-xl a {
    font-size: 1.6rem;
  }
  .post-title span,
  .post-title img {
    display: inline-block;
    margin-right: 0.2em;
  }
  .post-title span {
    font-size: 1.2em;
  }
  .post-title img {
    width: 1.3em;
    height: 1.3em;
    vertical-align: sub;
  }
  @media (max-width: 640px) {
    .post-title.font-xl {
      font-size: 1.4rem;
    }
    .post-title.font-xl a {
      font-size: 1.2rem;
    }
    .post-title {
      font-size: 0.8rem;
    }
    .post-title a {
      font-size: 0.8rem;
    }

  }
</style>
